
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>All Orders</h1>
        {%for order in orders%}
        <div>
            <p>Customer: {{order.customer_name}}</p>
            <p><a href="orders/{{orders.index(order)}}">Date: {{order.order_date}}</a></p>
            {%if order.quantity == 1%}
                <p>{{order.quantity}} item</p>
            {%else%}
                <p>{{order.quantity}} items</p>
            {%endif%}
        </div>
        {%endfor%}
    </body>
</html>